<body>

	<head>
		
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script src="libs/jquery-3.3.1.min.js"></script>
		<script src="libs/three.min.js"></script>
		<script src="libs/OBJLoader.js"></script>
		<script src="js/util.js"></script>
		<script src="js/tetris/tetris.js"></script>
		<script src="js/tetris/shape.js"></script>
		<script src="js/engine/Events.js"></script>
		<script src="js/logic.js"></script>

	</head>
	
	
	<body>
		<div id="play-area" class="game-center">
		</div>
	
	</body>

</body>